img.Gameimg{
	content:url("../images/UndefinedImage_Large.png");
	margin-top: 2px;
	margin-left: 1px;
}

img.A_Roomimg{
	content:url("../images/A_Room_Large.png");
	margin-top: 2px;
	margin-left: 1px;
}

@media screen and (max-width: 987px) {
		img.Gameimg{
			content:url("../images/UndefinedImage.png");
			margin-top: 2px;
			margin-left: 1px;
		}
		img.A_Roomimg{
			content:url("../images/A_Room_Tile.png");
			margin-top: 2px;
			margin-left: 1px;
		}
}
