body {margin: 0; font-family: "Lato", sans-serif;}

div.Centercontainer{
	overflow:hidden;
	position: relative;
	top: 50px;
	width: 512px;
	height: 512px;
	display: block;
	margin: auto auto;
	float: initial;
	background-color: transparent;
  	border: 20px solid transparent;
  	border-image-source: url(../images/Backplate_Title.png);
  	border-image-slice: 20% fill;

}
div.TileTitle{
	position: relative;
	margin: auto auto;
	float:initial;
	background-color: transparent;

}

img.Gameimg{
	margin-top: 2px;
	margin-left: 1px;
}

div.containerGames{
	position: relative;
	margin-left: 0px;
  	margin-right: calc(256px-50px);
	width: 210px;
	height: 210px;
	display: block;
	float: left;
	top:5px;
	background-color: transparent;
    border: 20px solid transparent;
  	border-image-source: url(../images/Title_Division_Plate.png);
  	border-image-slice: 20% fill;

}
div.containerRecentUpdate{
	position: relative;
	margin-left: 0px;
	width: calc(100%- 40px);
	height: 100px;
	display: block;
	float: none;
	background-color: transparent;
    border: 20px solid transparent;
  	border-image-source: url(../images/Title_Division_Plate.png);
  	border-image-slice: 20% fill;


}
div.containerArt{
	position: relative;
	margin-left: 0px;
  	margin-right: calc(256px-50px);
	width: 210px;
	height: 210px;
	display: block;
	float: right;
	top:5px;
	background-color: transparent;
	border: 20px solid transparent;
  	border-image-source: url(../images/Title_Division_Plate.png);
  	border-image-slice: 20% fill;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 31px 30px;
  text-decoration: none;
}
ul.topnav li a.topimg {
  display: block;
  padding: 18px 10px;
}
ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}


@media screen and (max-width: 720px) {
   ul.topnav li.right, 
   ul.topnav li {float: none;}
   div.containerGames{
   	  float: none;
	  width: calc(100% - 40px);}
   div.containerArt{
      float: none;
	  width: calc(100% - 40px);}
   div.containerRecentUpdates{
      float: none;
	  width: calc(100% - 40px);}
   div.Centercontainer{
	  width: 252px;
	  height: auto;}
	 div.TileTitle{
	  width: auto;
	  height: auto;
	  margin-left: -2px;}
   ul.topnav li a {
	  display: block;
	  color: white;
	  text-align: center;
	  padding: 11px 30px;
	  text-decoration: none;
	}
   ul.topnav li a.topimg {
	  display: block;
	  padding: 18px 10px;
	}
}