:root {
  --BannerURL:url("../images/TwitterBanner.png");
  --CharURL:url("");
  --BannerColor:#FFF;
  --PrimaryBody: #15202b;
  --SecondaryHeader:#1c394d;
  --TextMain: #25aae1;
  --SecondaryInset: #0b1014;
}


body {margin: 0; font-family: "Lato", sans-serif;
image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
  background-color: var(--PrimaryBody)}

div.Banner{
  background: var(--BannerColor);
}

img.TopBanner{
	overflow:hidden;
	position: relative;
	display: block;
	margin: auto auto;
	float: none;
  content: var(--BannerURL);

}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left:calc(50% - 205px);
}
div.Divider{
  display: block;
  position:relative;
  overflow: visible;
  margin-top: 30px;
  background-color: var(--SecondaryInset);
}

div.CoverHolder{
  display: block;
  position:relative;
  overflow: visible;
  width:100%;
  height:100px;
  white-space: nowrap;
}

div.ImgContainer{
  display: inline-block;
  height:110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.ImgClick{
  padding:0px 20px;
}
h1.title{
  display: block;
    white-space: nowrap;
  margin-top:30px;
  margin-left: 50%;
  color:var(--TextMain);

}
div.TitleContainer{
  width: 100%;
  margin-left: -110px;
}
div.ArtTitleContainer{
  width: 100%;
  margin-left: -80px;
}
div.ImgBlock{
  display: inline-block;
  position:relative;
  overflow: visible;
  margin-left: 100px;
  width:calc(100% - 210px);
  height:110px;
  background-color: var(--SecondaryInset);
}

img.Char{
	overflow:hidden;
  position: absolute;
	display: block;
  left:calc(50% - 120px);
  top:186px;
	margin: auto auto;
	float: none;
  content: var(--CharURL);
}

div.TopNavContainer {
background-color: var(--SecondaryHeader);
}


ul.topnav li {
	float: left;
}

ul.topnav li a {
  display: block;
  color: var(--TextMain);
  font-weight:bold;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: var(--BannerColor);}

ul.topnav li a.active {background-color:var(--BannerColor);}

ul.topnav li.right {float: right;}

a.Img1{
  display: inherit;
}
a.Img2{
  display: inherit;
}
a.Img3{
  display: inherit;
}
a.Img4{
  display: inherit;
}
a.Img5{
  display: inherit;
}
a.Img6{
  display: inherit;
}


@media screen and (max-width: 600px) {
  ul.topnav li {
  	float: none;
  }
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left:0px;
  }
}

@media screen and (max-width: 1200px) {
  a.Img6{
    display: none;
  }
}
@media screen and (max-width: 1071px) {
  a.Img5{
    display: none;
  }
}
@media screen and (max-width: 788px) {
  a.Img4{
    display: none;
  }
}
@media screen and (max-width: 590px) {
  a.Img3{
    display: none;
  }
}
@media screen and (max-width: 386px) {
  a.Img2{
    display: none;
  }
}
