:root {
  --BannerURL:url("../images/TwitterBanner.png");
  --CharURL:url("");
  --BannerColor:#FFF;
  --PrimaryBody: #15202b;
  --SecondaryHeader:#1c394d;
  --TextMain: #25aae1;
  --SecondaryInset: #0b1014;
}


body {margin: 0; font-family: "Lato", sans-serif;
image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
  background-color: var(--PrimaryBody)}

div.Banner{
  background: var(--BannerColor);
}

img.TopBanner{
	overflow:hidden;
	position: relative;
	display: block;
	margin: auto auto;
	float: none;
  content: var(--BannerURL);

}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left:calc(50% - 205px);
}
div.Divider{
  display: block;
  position:relative;
  overflow: hidden;
  margin-top: 30px;
  background-color: var(--SecondaryInset);
}

div.CoverHolder{
  display: block;
  position:relative;
  overflow: hidden;
  width:100%;
  height:100px;
  white-space: nowrap;
}

div.ImgContainer{
  display: block;
  position:relative;
  overflow: visible;
  width:10px;
  height:110px;
  float: left;
}

a.imghold{
  float:none;

}
h1.title{
  display: block;
    white-space: nowrap;
  margin-top:30px;
  margin-left: 50%;
  color:var(--TextMain);

}
div.TitleContainer{
  width: 100%;
  margin-left: -110px;
}
div.ArtTitleContainer{
  width: 100%;
  margin-left: -80px;
}
div.ImgBlock{
  display: inline-block;
  position:relative;
  overflow: hidden;
  margin-top:11px;
  margin-left: 100px;
  width:calc(100% - 210px);
  height:110px;
  background-color: var(--SecondaryInset);
}

img.Char{
	overflow:hidden;
  position: absolute;
	display: block;
  left:calc(50% - 120px);
  top:186px;
	margin: auto auto;
	float: none;
  content: var(--CharURL);
}

div.TopNavContainer {
background-color: var(--SecondaryHeader);
}


ul.topnav li {
	float: left;
}

ul.topnav li a {
  display: block;
  color: var(--TextMain);
  font-weight:bold;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: var(--BannerColor);}

ul.topnav li a.active {background-color:var(--BannerColor);}

ul.topnav li.right {float: right;}


@media screen and (max-width: 600px) {
  ul.topnav li {
  	float: none;
  }
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left:0px;
  }
}
