@import url("gametitle.css");

body {margin: 0; font-family: "Lato", sans-serif;
image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;}

div.Centercontainer{
	overflow:hidden;
	position: relative;
	top: 50px;
	width: 900px;
	height: 600px;
	display: block;
	margin: auto auto;
	float: initial;
	background-color: transparent;
  	border: 35px solid transparent;
  	border-image-source: url(../images/Backplate_Title.png);
  	border-image-slice: 20% fill;

}
div.TileTitle{
	position: relative;
	margin: auto auto;
	float:initial;
	background-color: transparent;

}


div.containerGames{
	overflow:hidden;
	position: relative;
	margin-left: 0px;
  	margin-right: calc(256px-50px);
	width: 407px;
	height: 245px;
	display: block;
	float: left;
	top:5px;
	background-color: transparent;
    border: 20px solid transparent;
	background-image: url(../images/Backplate_Opt.png);
	background-position: -20px -20px;

}

img.TopBanner{
	overflow:hidden;
	position: relative;
	display: block;
	margin: auto auto;
	float: none;
}

div.containerRecentUpdate{
	position: relative;
	margin-left: 0px;
	width: calc(100%- 40px);
	height: 100px;
	display: block;
	float: none;
	background-color: transparent;
    border: 20px solid transparent;
		background-image: url(../images/Backplate_Opt_Top_1.png);
		background-position: -20px -20px;


}
div.containerArt{
	overflow:hidden;
	position: relative;
	margin-left: 0px;
  	margin-right: calc(256px-50px);
	width: 407px;
	height: 245px;
	display: block;
	float: right;
	top:5px;
	background-color: transparent;
	border: 20px solid transparent;
		background-image: url(../images/Backplate_Opt.png);
		background-position: -20px -20px;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CCC;
  margin-left:calc(50% - 220px);
}

div.TopNavContainer {
background-color: #CCC;
}


ul.topnav li {
	float: left;
}

ul.topnav li a {
  display: block;
  color: Black;
  font-weight:bold;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  opacity: 0.5;
}

ul.topnav li a:hover:not(.active) {background-color: #FFF;}

ul.topnav li a.active {background-color: #FFF;}

ul.topnav li.right {float: right;}


@media screen and (max-width: 987px) {
   div.containerGames{
		 overflow:visible;
   	  float: none;
	  width: calc(100% - 40px);
	height: auto;
	background-image: url(../images/Backplate_Opt_Small.png);}
   div.containerArt{
		 overflow:visible;
      float: none;
	  width: calc(100% - 40px);
	height: auto;
	top:10px;
	background-image: url(../images/Backplate_Opt_Small.png);}

   div.containerRecentUpdate{
      float: none;
	  width: calc(100% - 40px);
		background-image: url(../images/Backplate_Opt_Top_2.png);}
   div.Centercontainer{
		 overflow:visible;
	  width: 252px;
	  height: auto;}
	 div.TileTitle{
	  width: auto;
	  height: auto;
	  margin-left: -2px;}
}
